
@import "_variables.scss";

.d-choc {
    height:20rem;
    transition:all 0.3s;
    border-radius: 50%;
}

.d-choc:hover{
    border-radius: 0;
    filter: grayscale(100%);
    transform: scale(1.3);
}